.ticketContainer{
    position: relative;
    border: 1px solid rgba(25, 186, 139, 0.17);
    background: url(public/images/line.png) rgba(255, 255, 255, 0.03);
    text-indent: -3em;
}

.ticketContainer svg{

}

.ticketContainer::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: "";
}
.ticketContainer::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: "";
}

 .ticketContainer .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
 .ticketContainer .panel-footer::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-bottom: 2px solid #02a6b5;
    content: "";
}
 .ticketContainer .panel-footer::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #02a6b5;
    border-bottom: 2px solid #02a6b5;
    content: "";
}
