* {
    padding: 0;
    margin: 0;
}

.layout {
    min-height: 100vh;
    background: url("./images/bg.jpg") no-repeat top center;
    position: relative;
}

.header {
    position: relative;
    height: 8vh;
    background: url("./images/head_bg.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 28px;
    color: #d2d6e4;
    line-height: 70px;
    font-weight: 800;
}

.content {
    position: relative;
    text-align: center;
}

.map {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
    animation: rotate1 15s linear infinite;
    opacity: 0.6;
    background-size: 100% 100%;
}

.t-drawer__body {
    padding: 0 !important;
}

.t-drawer__header {
    color: #d2d6e4;
    background: #061a74;
}

@font-face {
    font-family: electronicFont;
    src: url("./font/DS-DIGIT.TTF");
}


@keyframes rotate1 {
    form {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
